.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem {
  flex: 1;
  cursor: pointer;
}

.pListImg {
  height: 150px;
  object-fit: cover;
  border-radius: 2px;
  width: 100%;
}

.pListTitles {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
    font-weight: 300;
  }
}
